Hi <%= @user.name %>,
The lottery process for your draw has been completed and your group has been assigned a lottery number of <%= @number %>, which is <%= @rank_str %>. The suite selection phase will begin now.
Please e-mail <%= @college.admin_email %> if you have any questions.
Sincerely,
<%= @college.dean %>
